.carousel .thumbs-wrapper{
    display: none;
}
.carousel.carousel-slider .control-arrow:hover {
    background: transparent;
}
.contact-btn{
    display: none;
}
.parent-loader {
    background-color: #231E3D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}