.carousel .thumbs-wrapper{
    display: none;
}
.carousel.carousel-slider .control-arrow:hover {
    background: transparent;
}
.parent-loader {
    background-color: #231E3D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.font-link {
  font-family: 'Manrope', sans-serif;
}
.c-btn span:first-child{
  transform: translateX(-101%);
  transition: transform .3s ease-in
}
.c-btn:hover span{
  transform: translateX(0)
}
@media screen and (max-width: 768px) {
    .contact-btn{
    display: none;
    }
}
@media screen and (max-width: 400px) {
    :placeholder-shown{
        font-size: 12px;
    }
}
@media screen and (min-width:424px) and (max-width:500px) {
    .submit-btn{
        top: 7%;
    }
}